@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background: hsl(218, 23%, 16%);
}

.advice {
   width: 40%;
   margin: auto;
   background: hsl(217, 19%, 24%);
   height: 300px;
   
   border-radius: 0.3rem;
   margin-top: 10%;
   overflow: hidden;

}

.divider-desktop {
    display: block;
    width: 80%;
   
}

.divider-mobile {
    display: none;
}

.advice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: fit-content;
    margin: auto;
    height: fit-content;
   
  
}

.advice h4{
  color: hsl(150, 100%, 66%);
  text-align: center;
  text-transform: uppercase;
  
  
}

.advice p {
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 28px;
    /* padding: 0 10px 0 10px; */
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.icon-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    margin-left: 48.7%;

    top: 48%;
}

.icon-dice:hover {
    box-shadow: 0 0 10px hsl(150, 100%, 66%);
    cursor:pointer;
}

.icon-dice img {
    width: 1.5rem;
    height: 1.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 27rem; 
    color: hsl(193, 38%, 86%);
    font-size: 1rem; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 375px) {
    .advice {
        width: 90%;
        margin: auto;
        margin-top: 30%;
    }

    .advice-content {
        width: 70%;
    }

    .divider-desktop {
        display: none;
    }

    .divider-mobile {
        display: block;
        width: 100%;
        padding: 0 10px 10px 10px;
    }

    .advice p {
        font-size: 20px;
        width: fit-content;
       
    }

    .icon-dice {
        margin-left: 43.7%;
    
        top: 53%;
    }

    .attribution { 
        padding-top: 18rem; 
        
    }
}

