@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background: hsl(218, 23%, 16%);
}

.advice {
   width: 30%;
   margin: auto;
   background: hsl(217, 19%, 24%);
   height: 300px;
   
   border-radius: 0.3rem;
   margin-top: 10%;

}

.divider-desktop {
    display: block;
    width: 100%;
}

.divider-mobile {
    display: none;
}

@media screen and (max-width: 375px) {
    .advice {
        width: 80%;
        margin: auto;
        margin-top: 30%;
    }
    .divider-desktop {
        display: none;
    }

    .divider-mobile {
        display: block;
        width: 100%;
    }
}

.advice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 70%;
    margin: auto;
}

.advice h4{
  color: hsl(150, 100%, 66%);
  text-align: center;
  text-transform: uppercase;
  
  
}

.advice p {
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
}

.icon-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    margin-top: 29rem;
}

.icon-dice:hover {
    box-shadow: 0 0 10px hsl(150, 100%, 66%);
    cursor:pointer;
}

.icon-dice img {
    width: 1.5rem;
    height: 1.5rem;

}